body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow: hidden;
} 

#korea-map { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  transform: translateX(100px);
}

#region-map { 
  height: 70%;
  width: 50%;
  display: none;
  position: fixed;
  box-sizing: border-box;
  padding: 10px;
	transform: translateY(-15%);
}

#xButton {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px; 
    font-size: 12px;
    color: white;
    z-index: 1000;
    display: block;
    padding: 5px;
}

#msgBox {
  height: auto;
  width: auto;
  display: none;
  padding: 10px;
	transform: translateX(50%);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav {
  margin: 10px 0;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

path {
  transition: 0.5s;
}

path:hover {
  cursor: pointer;
  fill: yellowgreen;
}

.clicked {
  fill: yellowgreen;
}
