<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소 검색</title>
    <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    window.opener.jusoCallBack(data.roadAddress);
                    window.close();
                }
            }).open();
        }
    </script> 
</head>
<body onload="execDaumPostcode()">
</body>
</html>
